body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8d86a;
  text-align: center;
}

.App {
  margin: 10em auto 0em;
}

img {
  width: 12em;
  animation: rotation 20s infinite 2s normal forwards;
  animation-timing-function: ease-in-out;
}
@keyframes rotation {
  50% {
    transform: rotate(360deg);
  }
}

#searchIcon {
  position: relative;
  top: 3em;
}

p {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

i {
  color: #20a162;
}

i:hover {
  color: #207f4c;
}

#searchWords {
  border: groove;
  border-radius: 50px !important;
  width: 33vw;
  height: 7vh;
  position: relative;
  top: -6.2em;
  cursor: text;
  outline-style: none;
}

#inputBar {
  visibility: hidden;
}

#resetBIcon {
  position: relative;
  left: -1em;
  top: -1.8em;
}

a {
  font-size: smaller;
  text-decoration: none;
  color: #20a162;
}

a:hover {
  color: #207f4c;
}
